<div id="container">
  <div id="new_snipit_container">
    <%= form_for(:snip, url: snips_path, html: {id: 'new_snip_form'}) do |f| %>
      <p><%= f.text_field :title,  :placeholder => 'Title', :id => 'snipit_form_title' %></p>
      <p><%= f.text_field :description, :placeholder => 'Description' %></p>

      <p><%= f.select(:language_id, options_for_select(@languages.map { |l| [l.name, l.id, {"data-code" => l.code}] }.insert(0,'Choose Language')),{},{:class => 'option_select', :selected => 'Language'})%></p>
      <%= f.hidden_field :content %>
      <%= render partial: 'editor' %>

      <%= submit_tag 'Create New Snipit', :id => 'create_new_snipit', :class =>'submit_button'%> <!-- onclick popup modal to choose what board to put it in -->
    <% end %>
  </div>
</div>
