
<%= form_for(:snip, url: snips_path, html: {id: 'new_snip_form'}) do |f| %>
  <p><%= f.text_field :title %></p>
  <p><%= f.text_field :description %></p>
  <p><%= f.select(:language, options_for_select(@options)) %></p>
  <%= f.hidden_field :content %>

  <%= submit_tag 'Create New Snipit' %> <!-- onclick popup modal to choose what board to put it in -->
<% end %>

<%= render partial: 'editor' %>
