
<%= form_tag('/#', id: 'new_snip_form') do %>
  <p><%= text_field_tag :title %></p>
  <p><%= text_field_tag :description %></p>
  <p><%= select_tag(:language, options_for_select(@options)) %></p>
  
  <%= submit_tag 'Create New Snipit' %> <!-- onclick popup modal to choose what board to put it in -->
<% end %>

<%= render 'editor' %>