
	<% if flash[:success_sign_up] %>
		<p id='flash_success_sign_up'><%= flash[:success_sign_up] %><p>
	<% end %>

  <% if flash[:login_error] %>
    <p class='errors'><%= flash[:login_error] %><p>
  <% end %>


<div>
  <%= form_tag("/sessions", method: "post", class: "form-style") do |f| %>
    <%= text_field_tag :email, :placeholder => 'Email' %>
    <%= password_field_tag :password, :placeholder => 'Password' %>
    <%= submit_tag "Sign In", :class => "submit_button" %>
  <% end %>
</div>




