<% if flash[:errors] %>
    <div class='errors'>
      <% flash[:errors].each do |error| %>
        <p><%= error %><p>
      <% end %>
    </div>
<% end %>


<div>
  <%= form_for(@user, url: users_path, html: {class: "form-style"}) do |f| %>
    <%= f.text_field :first_name, :placeholder => 'First Name' %>
    <%= f.text_field :last_name, :placeholder => 'Last Name' %>
    <%= f.text_field :email, :placeholder => 'Email' %>
    <%= f.password_field :password, :placeholder => 'Password' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Confirmation' %>
    <%= f.submit "Create my account", :class => "submit_button" %>
  <% end %>
</div>
