<% if flash[:errors] %>
    <div id='errors'>
      <% flash[:errors].each do |error| %>
        <p><%= error %><p>
      <% end %>
    </div>
<% end %>


<div>
  <%= form_for(@user, url: users_path, html: {class: "form-style"}) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create my account" %>
  <% end %>
</div>
