<nav>
  <div id="nav_container">
    <%= link_to '<SnipIt>', root_path, :id => 'logo_nav' %>
    <%= form_tag('/search') do %>
      <%= text_field_tag "search" ,nil, :placeholder => "Search", :id =>  'query'  %>
    <% end %>
    <% if current_user %>
      <span class="right_hand_navigation">
        <%= link_to new_snip_path do %>
          <div id="new_snipit_link"></div>
        <% end %>
        <%= image_tag current_user.gravatar_url, :id => 'site_wide_gravatar' %>
      </span>
	  <% else %>
	   	<span class="right_hand_navigation session">
        <%= link_to 'Login', new_session_path %>
        <%= link_to 'Signup', new_user_path %>
 			</span>
    <% end %>
  </div>
</nav> 
