<nav>
  <div id="nav_container">
    <%= link_to '<SnipIt>', root_path, :id => 'logo_nav' %>
    <%= form_tag('/search') do %>
      <%= text_field_tag "search" ,nil, :placeholder => "Search", :id =>  'query'  %>
    <% end %>
    <div id="right_hand_navigation">
      <%= link_to new_snip_path do %>
        <div id="new_snipit_link"></div>
      <% end %>
      <%= image_tag User.first.gravatar_url, :id => 'site_wide_gravatar' %>
    </div>
  </div>
</nav>
