<div id='container'>
  <div id='languages'>
    <ul>
      <% @languages.each do |language| %>
        <%= link_to "/languages/#{language.code}/snips" do %>
          <li><%= language.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="cards">
    <h2 id="search_title"><%= @search_title %></h2>
    <%lan = []%>
    <% @snips.each do |c| %>
      <%= content_tag :div, class: "cards_data card", data: {snips:c} do %>

        <h4 class="card_title">
          <span class="card_language">
            <%= c.language.name %> -
          </span>
          <%= c.title %>
        </h4>
        <p class="card_description"><%= truncate(c.description, length: 130) %></p>
        <% lan << c.language_id %>
      <%end%>
    <%end%>
    <% if current_page?(boards_path) %>
      <% @boards.each do |board| %>
        <%= link_to board_path(board) do %>
          <div class="board">
            <h4 class="board_title"><%= board.title %></h4>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class='modalHolder'>
  <div class='content'>
    <div id="show_card">
      <button id='add_to_board_button'>&#60;&#62;</button>
      <div id="content"></div>
    </div>
  </div>
  <div class='mask'></div>
</div>

<div id="board_modal">
  <div class="content" id="add_to_board_modal">
    <%= text_field_tag :new_board, nil, :placeholder => "New Board" %>
    <div id="user_boards">
      <ul>
        <% @boards.each do |board| %>
          <%= link_to '#', :class => "chosen_board" do %>
            <li><%= board.title %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="second_mask"></div>
</div>

<%= javascript_include_tag "ace/ace" %>
<%= javascript_include_tag "application" %>

<script type='text/template' class='template'>
    <h3 class='modal_card_title'><%%=v.title%></h3>
    <p class='modal_card_description'><%%=v.description%></p>
    <div id="results_editor"></div>
</script>


    