<div id='container'>
  <div class='modelHolder'>
      <div class='content'></div>
      <div class='mask'></div>
  </div>


  <div id='languages'>
    <ul>
      <% @languages.each do |language| %>
        <li><%= link_to language.name, "/languages/#{language.code}/snips" %></li>
      <% end %>
    </ul>
  </div>
  <div id="cards">
    <h2 id="search_title"><%= @search_title %></h2>
    <%lan = []%>
    <% @snips.each do |c| %>
      <%= content_tag :div, class: "cards_data card", data: {snips:c} do %>

        <h3><%= c.title %></h3>
        <p><%=c.description %></p>
        <% lan << c.language_id %>
      <%end%>
    <%end%>
  </div>
</div>

<%= javascript_include_tag "ace/ace" %>
<%= javascript_include_tag "application" %>

<script type='text/template' class='template'>
  <button class='cupid-green'>Add to Board</button>
  <h3><%%=v.title%></h3>
  <p><%%=v.description%></p><br>
  <div id="results_editor"></div>
</script>