<div id="landing_page_background"></div>
<% if session[:id] %>
  <div id='home_gravatar'>
    <%= image_tag User.first.gravatar_url %>
  </div>
<% else %>
  <div id='session'>
    <a href="/sessions/new">Login </a>|
    <a href="/users/new"> Signup</a>
  </div>
<% end %>
<div id='logo'>&#60;SnipIt&#62;</div>
<div id='search'>
  <div id='search_bar'>
    <%= form_tag "/search" do %>
      <%= text_field_tag "search", nil, :placeholder => 'e.g. Javascript Modal' %>
    <% end %>
  </div>
  <div id='language_box'>
    <% @languages.each do |language| %>
      <%= link_to "/languages/#{language.code}/snips" do %>
        <div class='language'>
          <div class='language_img'>
            <%= image_tag(language.code+".png", class: "image_icon") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/dropdown_and_script' %>
