<!DOCTYPE html>
<html>
<head>
  <title>Snipit</title>
  <%= javascript_include_tag "underscore-min.js" %>
  <%= javascript_include_tag "jquery-1.9.0.js" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>