<!DOCTYPE html>
<html>
<head>
  <title>Codetrest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if session[:user_id]%>
    <%= link_to("Logout",  controller: "sessions", action: "logout")%>
    <%= link_to("Your Boards",  controller: "users", action: "list_boards", id: session[:user_id])%>
    <%else%>
    <%= link_to("Login",  controller: "sessions", action: "login_forms") %>
    <%end%>
    <%= link_to("New Snipit", controller: "snipits", action: "new") %>
    <%= form_tag(controller: "searches", action: "search", method: "post", class: "nifty_form") do %>
      <%= text_field_tag(:search) %><br>
    <%end%>
  </nav>
    <div id='container'>
<%= yield %>
   </div>
</body>
</html>
